<!DOCTYPE html>
<html lang="en">

	<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>IBM DB2</title>
        
        <!-- Favicon -->
        <link href="/../img/favicon.ico" rel="SHORTCUT ICON"/>

		<!-- Bootstrap Core CSS -->
		<link href="/../css/bootstrap.min.css" rel="stylesheet">

		<!-- Custom CSS -->
		<link href="/../css/style.css" rel="stylesheet">
        <link href="/../css/querytool.css" rel="stylesheet">

		<!--  jQuery UI CSS -->
		<link href="/../css/jquery-ui.min.css" rel="stylesheet">

		<!-- Windows 8 Grid Layout CSS -->
		<link rel="stylesheet" type="text/css" href="/../css/metro-style.css" />
		
		<!-- Freewall Custom CSS -->
		<link rel="stylesheet" type="text/css" href="/../css/freewall-style.css" />

		<!--  jQuery -->
		<script type="text/javascript" src="/../js/jquery-1.10.2.min.js"></script>

		<!--  jQuery UI -->
		<script type="text/javascript" src="/../js/jquery-ui.min.js"></script>
		
		<!-- Bootstrap Core JavaScript -->
		<script src="/../js/bootstrap.min.js"></script>
		
		<!-- All javascript functions for this project -->
		<script type="text/javascript" src="/../js/javascript.js"></script>
		
		<!-- Freewall Javascript -->
		<script type="text/javascript" src="/../js/freewall.js"></script>
		
		<!-- Angular Javascript -->
		<script type="text/javascript" src="/../js/angular.min.js"></script>
		
		<!-- React Javascript -->
		<script type="text/javascript" src="/../js/react.min.js"></script>
		
		<!-- React Wwith Addons Javascript -->
		<script type="text/javascript" src="/../js/react-with-addons.min.js"></script>
		
		<!-- JSXT Javascript -->
		<script type="text/javascript" src="/../js/JSXTransformer.min.js"></script>
		
	</head>
	
	<body>