<!-- Bootstrapped header -->
<!-- Header -->
<% include header.html %>

<!-- Bootstrapped nav bar -->
<!-- Navigation -->
<% include navbar.html %>

<!-- Bootstrapped menu bar -->
<!-- Menu -->
<% include menu.html %>

<!-- Page Content -->
<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			
			<h1 style="text-align:center">Welcome to DB2 </h1>
			<h2 style="text-align:center">Interactive Tutorial</h2>
			
			<br>
			<br>
			
			<p>	DB2 is a standard language for accessing DB2 databases.</p>
			<p>	This website will teach you how to install and use DB2 to access 
			and manipulate data in DB2 and some of the unique features that reside in DB2.
			</p>
			<br>
			<p class="text-center">
				<a href="/feature" type="button" class="btn btn-primary btn-lg">Learn DB2</a>
				<a href="/query/manual" type="button" class="btn btn-primary btn-lg">Try it yourself</a>
			</p>
		</div>
		
		<br>
		
		<div class="col-xs-4">
			<h4 class="example">Going to add more information here</h4>
			<div>
				SELECT * FROM Customers;
			</div>
		</div>
	</div>
</div>

<!-- Bootstrapped Footer -->
<!-- Footer -->
<% include footer.html %>



	
